{% extends 'templates/app.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading">Fake reportings</div>
				<div class="panel-body">
					{% for fake in fakes %}
						<p>
							User
							<a href="{{ path_for('find.next', {login: fake.whom})}}">
								{{fake.whom}}
							</a>
							reported user
							<a href="{{ path_for('find.next', {login: fake.who})}}">
								{{fake.who}}
							</a>
						</p>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
