{% extends 'templates/app.twig' %}

{% block content %}
	<div class="container">
		<div class="row">
			<h1>Our Users</h1>
				{% for user in data %}
					<div class="col-md-3">
					{% if user.avatar != "default.jpg"%}
						<a href="{{ path_for('find.next', {login: user.login}) }}">
							<img  src="/uploads/users/{{ user.id }}/{{ user.avatar }}"
									class="img-fluid img-thumbnail" alt="">
						</a>
					{% else %}
						<a href="{{ path_for('find.next', {login: user.login}) }}">
							<img  src="/uploads/users/default.jpg"
									class="img-fluid img-thumbnail" alt="">
						</a>
					{% endif %}
					</div>
				{% endfor %}
		</div>
	</div>
{% endblock %}
