{% extends 'templates/app.twig' %}

{% block content %}

	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">
					<div class="panel-heading">Your profile</div>
					<div class="panel-body">
						<h3 class="title">Your photos</h2>
							{% for user in user_photo %}
					       		<img  src="/uploads/users/{{user_data.id}}/{{ user.image }}" class="img-fluid img-thumbnail" alt="">
								<a href="account/{{ user.id }}">Set As Avatar</a>
								<a href="account/del/{{ user.id }}">Delete</a>
							{% endfor %}
						<a href="{{ path_for('user.accountphoto')}}"
						 class="btn btn-default">Add photo</a>
						<div class="form-group">Your name:
							{{user_data.name}}
						</div>
						<div class="form-group">Your lastname:
							{{user_data.lastname}}
						</div>
						<div class="form-group">Your age:
							{{user_data.age}}
						</div>
						<div class="form-group">Your gender:
							{{user_data.gender}}
						</div>
						<div class="form-group">Your preference:
							{{user_data.preference}}
						</div>
						<div class="form-group">Your bio:
							{{user_data.bio}}
						</div>
						<div class="form-group">Your tags:
							{{user_data.tags}}
						</div>
						<div class="form-group">Your geo:
							{{user_data.geo}}
						</div>

						<a href="{{ path_for('user.accountchange')}}" class="btn btn-default">Change</a>

				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">Your likes and views</div>
					{% for like in likes %}
						<p>User
							<a href="{{ path_for('find.next', {login: like.login})}}">
								{{like.login}}
							</a>
						liked you<p>
					{% endfor %}
					{% for view in views %}
						<p>User
							<a href="{{ path_for('find.next', {login: view.login})}}">
								{{view.login}}
							</a>
						viewed you<p>
					{% endfor %}
				</div>
			</div>
		</div>
{% endblock %}
