{% extends 'templates/app.twig' %}

{% block content %}

	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading">Change information</div>
				<div class="panel-body">
					<form action="{{ path_for('user.accountchange') }}" method="post">
						<div class="form-group {{ errors.name ? ' has-error' : ''}}">
							<label for="name">Name</label>
							<input type="text"  required name="name" id="name"
								class="form-control" value="{{ user_data.name }}">
						</div>
						{% if errors.name %}
							<span class="help-block">{{ errors.name | first }}</span>
						{% endif %}
						<div class="form-group {{ errors.lastname ? ' has-error' : ''}}">
							<label for="lastname">Last name</label>
							<input type="text" required name="lastname" id="lastname"
								class="form-control" value="{{ user_data.lastname }}">
						</div>
						{% if errorslastname %}
							<span class="help-block">{{ errors.lastname | first }}</span>
						{% endif %}
						<div class="form-group">
							<label for="gender">Age</label>
							<input type="number" id="age" name="age"
       							min="18" max="99" value="{{ user_data.age }}">
						</div>
						<div class="form-group">
							<label for="gender">Gender</label>
							<select name="gender">
								<option value="male">Male</option>
								<option value="female">Female</option>
								<option value="transmale">FTM</option>
								<option value="transfemale">MTF</option>
								<option value="helisexual">Apache Helicopter</option>
							</select>
						</div>
						<div class="form-group">
							<label for="gender">Preference</label>
							<select name="preference">
								<option value="male">Male</option>
								<option value="female">Female</option>
								<option value="both">Both</option>
								<option value="transmale">Transmale</option>
								<option value="transfemale">Transfemale</option>
								<option value="random">Genderfluid</option>
							</select>
						</div>
						<div class="form-group {{ errors.bio ? ' has-error' : ''}}">
							<label for="bio">Your bio</label>
							<input type="text" required name="bio" id="bio"
								class="form-control"value="{{ user_data.bio }}">
						</div>
						{% if errors.bio %}
							<span class="help-block">{{ errors.bio | first }}</span>
						{% endif %}
						<div class="form-group">
							<label for="tags">Your interests</label>
							{% for tag in tags %}
								<input type="checkbox" id="tags" name="tag_list[]"
								class="form-control" value="{{tag}}">
								<label for="{{tag}}">{{tag}}</label>
							{% endfor %}
						</div>
						<div class="form-group">
							<label for="city">City</label>
							<select name="city">
								<option value="None">Prefer not to told</option>
								{% for locs in loc %}
									<option value="{{locs.city}}">{{locs.city}}</option>
								{% endfor %}
							</select>
						</div>
						<div class="form-group">
							<label for="country">Country</label>
							<select name="country">
								<option value="None">Prefer not to told</option>
								<option value="{{loc.0.country}}">{{loc.0.country}}</option>
							</select>
						</div>
						<button type="submit" class="btn btn-default">
							Submit
						</button>
						{{ csrf.field | raw }}
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
