{% extends 'templates/app.twig' %}

{% block content %}

	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading">Change information</div>
				<div class="container">
				<div class="panel-body">
					<form action="{{ path_for('user.accountphoto') }}" method="post"
							enctype="multipart/form-data">
						<p>Your photo</p>
						<input type="file" name="image" placeholder="" value="">
						<br/><br/>
						<button type="submit" class="btn btn-default">Submit</button>
						{{ csrf.field | raw }}
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
