{% extends 'templates/app.twig' %}

{% block content %}

	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading">Change password</div>
				<div class="panel-body">
					<form action="{{ path_for('user.password') }}" method="post">
						<div class="form-group {{ errors.password_old ? ' has-error' : ''}}">
							<label for="password_old">Current Password</label>
							<input type="password" name="password_old" id="password_old"
								class="form-control">
						</div>
						{% if errors.password_old %}
							<span class="help-block">{{ errors.password_old | first }}</span>
						{% endif %}
						<div class="form-group {{ errors.password_new ? ' has-error' : ''}}">
							<label for="password">New Password</label>
							<input type="password" name="password_new" id="password_new"
								class="form-control">
						</div>
						{% if errors.password_new %}
							<span class="help-block">{{ errors.password_new }}</span>
						{% endif %}
						<button type="submit" class="btn btn-default">
							Submit
						</button>
						{{ csrf.field | raw }}
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
