{% extends 'templates/app.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading">Sign Up</div>
				<div class="panel-body">
					<form action="{{ path_for('user.signup')}}" method="post">
						<div class="form-group{{ errors.email ? ' has-error' : ''}}">
							<label for="email">Email</label>
							<input type="email" name="email" id="email"
								placeholder="you@mail.com" class="form-control" value="{{ old.email }}">
						</div>
						{% if errors.email %}
							<span class="help-block">{{ errors.email }}</span>
						{% endif %}
						<div class="form-group {{ errors.login ? ' has-error' : ''}}">
							<label for="login">Login</label>
							<input type="text" name="login" id="login"
								class="form-control" value="{{ old.login }}">
						</div>
						{% if errors.login %}
							<span class="help-block">{{ errors.login }}</span>
						{% endif %}
						<div class="form-group {{ errors.password ? ' has-error' : ''}}">
							<label for="password">Password</label>
							<input type="password" name="password" id="password"
								class="form-control">
						</div>
						{% if errors.password %}
							<span class="help-block">{{ errors.password }}</span>
						{% endif %}
						<button type="submit" class="btn btn-default">
							Sign Up
						</button>
						{{ csrf.field | raw }}
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
