<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>matcha</title>
		<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" href ="{{ base_url() }}/css/app.css">
		<link rel="stylesheet" href="{{ base_url() }}/css/style.css">
	</head>

	<body>
		{% include 'templates/partials/navigation.twig' %}
		<div class="container">
			{% include 'templates/partials/flash.twig' %}
			{% block content %}{% endblock %}
		</div>

		<script src="https://js.pusher.com/4.4/pusher.min.js"></script>
		<script>

		    var pusher = new Pusher('5363577581d81372e311', {
		      cluster: 'eu',
		      forceTLS: true
		    });

		    var channel = pusher.subscribe('{{user.user.id}}');

		    channel.bind('my-action', function(data) {
				alert(JSON.stringify(data));
				if (JSON.stringify(data) === '{"message":"you have match, go to chat"}'){
					window.location.href = "http://localhost:8100/chat";
				}
		    });
		</script>

		<script
		  src="https://code.jquery.com/jquery-3.4.1.min.js"
		  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		  crossorigin="anonymous">
	  	</script>
		<script src='https://www.google.com/recaptcha/api.js'></script>
	  	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	  	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>
	  	<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	</body>
</html>
