<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
			 		data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ path_for('home') }}">Home</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			{% if user.check %}

			<ul class="nav navbar-nav">
				<li><a href="{{ path_for('main.page') }}">Find your date</a></li>
				<li><a href="{{ path_for('search.page') }}">Advanced search</a></li>
			</ul>
			{% endif %}
			<ul class="nav navbar-nav navbar-right">

				{% if user.check %}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"
						 	role="button" aria-haspopup="true" aria-expanded="false">
							{{ user.user.login }}
						 <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{{ path_for('user.account')}}">Your account information</a></li>
							<li><a href="{{ path_for('user.password')}}">Change Password</a></li>
							<li><a href="{{ path_for('user.mail')}}">Change Email</a></li>
							<li><a href="{{ path_for('user.signout')}}">Sign out</a></li>
						</ul>
					</li>
				{% else %}
					<li><a href="{{ path_for('user.signup')}}">Sign up</a></li>
					<li><a href="{{ path_for('user.signin')}}">Sign in</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
<!-- <nav class="navbar navbar-inverse navbar-fixed-bottom">
	<div class="container">
	<div class="navbar-header">
		<p>footer</p>
	</div>
</div>
</nav> -->
