{% extends 'templates/app.twig' %}

{% block content %}

	<div class="row">
		<div class="col-md-7 col-md-offset-3">
			<h1>get your date</h1>
			<div class="panel panel-default">
				<div class="panel-heading"></div>
				<div class="panel-body">
					{% if data == "please fill all your info in settings" %}
					<div class="form-group">
						Please fill all your info in settings
					</div>
					{% else %}
						<a href="{{ path_for('sort_search.by', {sort: 'age'}) }}" class="btn btn-default">Sort by age</a>
						<a href="{{ path_for('sort_search.by', {sort: 'fame'}) }}" class="btn btn-default">Sort by fame</a>
						<a href="{{ path_for('sort_search.by', {sort: 'tags'}) }}" class="btn btn-default">Sort by tags</a>
						<a href="{{ path_for('sort_search.by', {sort: 'location'}) }}" class="btn btn-default">Sort by location</a>
						{% for user in data %}
						{% if user.avatar != "default.jpg"%}
							<img  src="/uploads/users/{{ user.id }}/{{ user.avatar }}"
										class="img-fluid img-thumbnail" alt="">
						{% else %}
							<img  src="/uploads/users/default.jpg"
										class="img-fluid img-thumbnail" alt="">
						{% endif %}
							<div class="form-group">Name:
								{{user.name}}
							</div>
							<div class="form-group">Age:
								{{user.age}}
							</div>
							<div class="form-group">Fame:
								{{user.fame}}
							</div>
							<div class="form-group">Tags:
								{% for tags in user.tags %}
									{{tags}}
								{% endfor %}
							</div>
							<div class="form-group">Location:
								{{user.geo}}
							</div>
							<a href="{{ path_for('find.next', {login: user.login}) }}" class="btn btn-default">Profile</a>
						{% endfor %}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
