{% extends 'templates/app.twig' %}

{% block content %}
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-default">
				<div class="panel-heading">{{user_data.name}}'s profile</div>
				<div class="panel-body">
					<div class="form-group">Last Online:
						{{online.last}}
					</div>
					{% if user_data.avatar != "default.jpg"%}
						{% for photo in photos %}
							<img src="/uploads/users/{{user_data.id}}/{{ photo.image }}"
								class="img-fluid img-thumbnail" alt="">
						{% endfor %}
					{% else %}
						<img src="/uploads/users/default.jpg"
									class="img-fluid img-thumbnail" alt="">
					{% endif %}
					<div class="form-group">name:
						{{user_data.name}}
					</div>
					<div class="form-group">fame rating:
						{{user_data.fame}}
					</div>
					<div class="form-group">lastname:
						{{user_data.lastname}}
					</div>
					<div class="form-group">age:
						{{user_data.age}}
					</div>
					<div class="form-group">gender:
						{{user_data.gender}}
					</div>
					<div class="form-group">preference:
						{{user_data.preference}}
					</div>
					<div class="form-group">bio:
						{{user_data.bio}}
					</div>
					<div class="form-group">tags:
						{{user_data.tags}}
					</div>
					<div class="form-group">geo:
						{{user_data.geo}}
					</div>
					<form action="{{ path_for('find.next', {login: user_data.login}) }}" method="post">
						{% if liked %}
							<input type="submit" name="unlike" class="btn btn-default" value="unlike">
						{% else %}
							<input type="submit" name="like" class="btn btn-default" value="like">
						{% endif %}
						{{ csrf.field | raw }}
					</form>
					{% if ingored == false %}
						<a href="{{ path_for('ignore', {login: user_data.login}) }}" class="btn btn-default">Ignore</a>
					{% endif %}
					{% if reported == false %}
						<a href="{{ path_for('fake', {login: user_data.login}) }}" class="btn btn-default">Report</a>
					{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
