{% extends 'templates/app.twig' %}

{% block content %}

	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h1>get your date</h1>
			<div class="panel panel-default">
				<div class="panel-heading"></div>
				<div class="panel-body">
				{% if data == "please fill all your info in settings" %}
				<div class="form-group">
					Please fill all your info in settings
				</div>
				{% else %}
					<form action="{{ path_for('search.page') }}" method="post">
						<div class="form-group">
							<label for="age">Age</label>
							<input type="number" id="min_age" name="min_age"
       							min="18" max="99"> -
							<input type="number" id="max_age" name="max_age"
       							min="18" max="99">
						</div>
						<div class="form-group">
							<label for="fame">Fame</label>
							<input type="number" id="min_fame" name="min_fame"
								min="0" max="999"> -
							<input type="number" id="max_fame" name="max_fame"
								min="0" max="999">
						</div>
						<div class="form-group">
							<label for="city">City</label>
							<select name="city">
								{% for locs in loc %}
									<option value="{{locs.city}}">{{locs.city}}</option>
								{% endfor %}
							</select>
						</div>
						<div class="form-group">
							<label for="country">Country</label>
							<select name="country">
								<option value="{{loc.0.country}}">{{loc.0.country}}</option>
							</select>
						</div>
						<div class="form-group">
							<label for="tags">Tags</label>
							{% for tag in tags %}
								<input type="checkbox" id="tags" name="tag_list[]"
								class="form-control" value="{{tag}}">
								<label for="{{tag}}">{{tag}}</label>
							{% endfor %}
						</div>
						<button type="submit" class="btn btn-default">
							Submit
						</button>
						{{ csrf.field | raw }}
					</form>
				{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
